body{
	background: #0025685;
	margin-top: 0;
	margin-bottom: 0;

}

header, main, footer{
	background: url("../img/White_background.jpg");
	font-size: 0;
	padding: 1rem;
	width: 85%;
	margin: 0 auto;

}

header h1, header nav{
	font-size: 1rem;
	display: inline-block;
	vertical-align: middle;
	width: 40%;
}

header h1 img{
	max-width: 400px;
	min-width: 120px;
	width: 100%;
}

header nav{
	width: 60%;
}

header nav ul{
	text-align: right;
}

header nav li{
	display: inline-block;
	margin-right: 0.5em;
}
header nav li a{
	background: white;
	border: 2px solid rgb(255, 0, 0);
	border-radius: 1em;
	padding: 0.5em 1em;
	color: black;
	text-decoration: none;
}	
main section, main aside{
	font-size: 1rem;
	background:rgb(125, 29, 29);
	color: white;
	border-radius: 1rem;
	display: inline-block;
	width: calc(65% - 1em);
	padding: 0.5em;
	box-sizing: border-box;
	vertical-align: middle;
}

main section{
	margin-right: 1em;
	height: 500px;
}

main aside{
	width: 35%;
	
}

main h2{ 
	text-align: center;
}

main aside figure img{
	min-height: 100px;
	max-width: 400px;
	width: 100%;
}

main aside figure figcaption{
	text-align: center;
	margin-top: 0.5em
}
footer{
	text-align: center  
}
footer span{
	font-size: 1rem
}
.table-element{
	display: table;
	width: 100%;
	height:100%;
}

.table-cell{
	display:table-cell;
	vertical-align: middle;
}
